<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="index.css" rel="stylesheet" />
	</head>

	<body>
		
		<div id="app-chat">
			<div class="mui-content" >
				<ul class="mui-table-view" style="margin-top: 0rem;">
					<li v-for="item in chatSnapshotList" class="mui-table-view-cell mui-media">
						<div class="mui-slider-right mui-disabled">
								<a v-on:tap="removeSnapshotById(item.chatUserId)" class="mui-btn mui-btn-red">删除</a>
						</div>
						
						<div v-on:tap="tap2chatting(item.chatUserId)" class="mui-slider-handle">
							<img class="mui-media-object mui-pull-left" v-bind:src="item.avator?item.avator:'../../resources/imgs/default.png'">
							<span v-if="item.unread && item.unread > 0" class="mui-badge mui-badge-danger">{{item.unread}}</span>
							<div class="mui-media-body" style="display: inline-block;">
								{{item.nickname?item.nickname:'陌生人'}}
								<p v-if="item.type===TEXT" class="mui-ellipsis" style="max-width: 15.75rem;">{{item.msg}}</p>
								<p v-if="item.type===AUDIO" class="mui-ellipsis" style="max-width: 15.75rem;">[语音消息]</p>
								<p v-if="item.type===IMAGE" class="mui-ellipsis" style="max-width: 15.75rem;">[图片]</p>
							</div>
							
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script src="../../js/vue.min.js"></script>
		<script src="./index.js" type="module"></script>
	</body>

</html>