@import url("../../../css/zcss/pages.css");
@import url(../../../css/zcss/header.css);
.my-avator{
	width: 100%;
}

input[type="text"]{
	background-color:#FFFFFF;
	height: 3.125rem;
	border: none;
	border-radius: 0.625rem;
}

.input-nickname{
	color: #616161;
	border: none;
}

.div-nickname{
	background-color: #EFEFF4;
	
}