@import url("../../css/zcss/pages.css");

.red-point {
	position: relative;
}

.red-point::before {
	content: " ";
	border: 5px solid #C9394A;
	/*设置红色*/
	border-radius: 5px;
	/*设置圆角*/
	position: absolute;
	z-index: 3000;
	right: 0%;
	margin-right: -10px;
	margin-top: 0px;
}


.mui-table-view-cell>.mui-badge{
	/* font-size: 0.65rem */
	left: 3rem;
	right: auto;
	top: 20%;
}

.mui-badge {
	font-size: 0.7rem;
	/* border-radius: 6.625rem; */
	padding-top: 0.325rem;
	padding-bottom: 0.225rem;
	line-height: 0.5875rem;
	position: fixed;
	margin-left: -1.325rem;
	margin-top: -0.4125rem;
}

